<section class="main">
  <div class="container">
    <app-navbar></app-navbar>
    <div class="content">
      <div class="content-wrapper">
        <h1>Welcome to bestPims</h1>
      <p class="content-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur suscipit molestiae odio necessitatibus aperiam. Itaque minima eum veritatis repellendus cupiditate obcaecati doloribus sed. Officiis perferendis aspernatur aliquid, quis excepturi quae! Quod facere voluptate eius eaque asperiores consequatur reiciendis sapiente magni, quidem amet unde molestias? Minus maxime corporis nesciunt assumenda repudiandae.</p>
      </div>
      <div class="extra-links">
        <a>More About us </a>
        <a>Contact us </a>
      </div>
    </div>
  </div>
</section>
