<section class="main">
  <div class="container">
    <app-navbar></app-navbar>
    <div class="content">
      <div class="content-wrapper">
        <h1>Welcome to bestPims</h1>
      <p class="content-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, est facilis fugiat fuga quod excepturi. Consequuntur, rerum cumque suscipit obcaecati unde qui magni, similique odit ad repellat quos ipsa, exercitationem ipsum porro corporis aliquid eius consequatur enim quisquam. Facilis voluptatum nobis quisquam numquam debitis voluptates nihil quaerat reiciendis iure exercitationem.</p>
      </div>
      <div class="extra-links">
        <a>More About us </a>
        <a>Contact us </a>
      </div>
    </div>
  </div>
</section>
