<section class="main">
  <div class="container">
    <app-navbar></app-navbar>
    <div class="content">
      <div class="card">
        <img src="../../../assets/pexels-min-an-853168.jpg" alt="Teamwork">
      
      <div class="form">
        <h1>Create your Account</h1>
        <form class="register-form" #registerForm="ngForm">
          <div class="input-div">
            <label for="fullname">Full name:</label>
            <input type="fullname" id="fullname">
          </div>
          <div class="input-div">
            <label for="email">Email:</label>
            <input type="email" ngModel id="email">
          </div>
          <div class="input-div">
            <label for="password">Password:</label>
            <input type="password" ngModel id="password">
          </div>
          <div class="input-div">
            <input type="submit" value="Create Account" class="login-btn">
          </div>
        </form>
      </div>
    </div>
    </div>
  </div>
</section>
